.section {
  padding-top: 60px /*94px*/;
  padding-bottom: 60px /*94px*/;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 28px /*36px*/;
  line-height: 1.2;
  color: $title-dark-gray-color;
  text-align: center;
  margin-bottom: 30px /*50px*/;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
