.mobile-menu {
  &__toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    padding: 0;
    width: 40px;
    height: 40px;
    &:hover,
    &:focus {
      cursor: pointer;
    }
    &:hover .mobile-menu__menu-icon,
    &:focus .mobile-menu__menu-icon {
      fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__menu-icon {
    fill: $title-dark-gray-color;
  }

  &__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    padding: 0;
    width: 40px;
    height: 40px;
    &:hover,
    &:focus {
      cursor: pointer;
    }
    &:hover .mobile-menu__colse-icon,
    &:focus .mobile-menu__close-icon {
      fill: $accent-color;
    }
  }
  &__close-icon {
    fill: $title-dark-gray-color;
  }
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    background-color: $white-color;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__nav-item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $title-dark-gray-color;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__contact-list {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
  &__contact-item {
    &:first-child {
      font-size: 34px;
      color: $accent-color;
    }
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &:hover,
    :focus {
      // font-size: 34px;
      color: $accent-color;
    }
  }

  &__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__social-item {
    display: flex;
    justify-content: flex-start;

    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  &__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}
