$accent-color: #2196f3;
$project-accent-color: #2196f3e6;
$nav-text-color: #000000;
$title-dark-gray-color: #212121;
$text-gray-color: #757575;
$white-color: #ffffff;
$footer-white-color: #ffffff9a;
$bg-light-color: #f5f4fa;
$bg-dark-color: #2f303a;
$bg-occupation-color: #2f303acc;
$project-border-color: #eeeeee;
$header-border-color: #ececec;
$fill-icon-color: #afb1b8;
$bg-footer-icon-color: #ffffff19;
$bg-modal-overlay-color: #00000033;
$close-border-color: #0000001a;
$footer-border-color: #ffffff4d;
$button-shadow-color: #ffffff26;
$modal-border-color: #21212133;
